body{

    background-color: #fff;;
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px;;
   

}

body p{
    font-family: serif;
    font-size: 16px;
    margin: 20px;
}

body h1{
    font-family: serif;
    font-size: 22px;
    margin: 20px;
}

canvas{
    display: block;
    margin: 0 auto;
    /* padding-top: 30px; */
    border: 2px solid #444;
}

input, button{
    margin-left: 20px;
}

button{
    padding: 5px;

}

#paint{
    cursor: cell;
}

@media only screen and (max-width: 560px) {


    body p{
        font-family: serif;
        font-size: 12px;
        margin: 15px;
    }
    body h1{
        font-family: serif;
        font-size: 18px;
        margin: 20px;
    }

}
